@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('/fonts/ACaslonPro-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('/fonts/ACaslonPro-Italic.otf') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }